#body {
	margin-left: auto;
	margin-right: auto;
}


.container {
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 35px;
	background-color: black;
	background:rgba(0,0,0,0.8);
	border-radius: 40px;
	margin-top: 100px;
}



header {
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	background-color: black;
}

#t1 {
	text-align: center;
	font-size: 30px;
	color: #FF9500;
	padding: 0px;
	font-weight: bold;
}

#info {
	text-align: center;
	color: #979797;
	font-size: 37px;
	padding: 50px;
}

#forum {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	color: #5A5857;
	margin-left: 335px;
	margin-top: 80px;
}

#tforum {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: #757575;
	margin-left: 335px;
}

#li1, #a1, #nav1, #ul1 {
	display: inline;
	text-decoration: none;
	padding-left: 0px;
	color: black;
	font-size: 25px;
	width: 30%;
	margin: 0px auto;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 84px;
	padding: 1px;
}

#li1 {
	
}

#a1 {
	border: 1px solid #084B8A;	
	background-color: #0663BA;
}

#a1:hover {
	color: white;
}


#nav2 {
	margin-top: 30px;
}

#li2, #a2, #nav2, #ul2 {
	display: inline;
	text-decoration: none;
	padding-left: 0px;
	color: black;
	font-size: 25px;
	width: 30%;
	margin: 0px auto;
	font-weight: bold;
	margin-left: -55px;
	padding: 1px;
}

#a2 {
	border: 1px solid #084B8A;	
	background-color: #0663BA;
}

#a2:hover {
	color: white;
}

#server {
	margin-left: 200px;
	margin-right: 200px;
	height: 550px;
	margin-top: 110px;
}
 
#tserver1 {
	margin-top: -370px;
	margin-left: 90px;
	font-size: 50px;
	color: #5A5857;
	font-weight: bold;
}

#tserver2 {
	margin-top: 30px;
	margin-left: 100px;
	font-size: 20px;
	color: #7A7A7A;
}

#umod {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	color: #5A5857;
	margin-right: 270px;
	margin-top: -220px;
}

#tmods {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: #757575;	
	margin-right: 270px;
	margin-bottom: 55px;
}

#li3, #a3, #nav3, #ul3 {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	float: center;
	margin-right: 6px;
}

#a3:hover {
	color: #F4F1F1;
}

#li4, #a4, #nav4, #ul4 {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	float: center;
	margin-right: 6px;
}

#a4:hover {
	color: #F4F1F1;
}


#footer1 {
	background-color: #000;
	height: 28px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 269px;
	padding: 0px 0;
}

#footer2 {
	background-color: #000;
	height: 28px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 350px;
	padding: 0px 0;
}

#KellyU {
	font-size: 35px;
	margin-left: 20px;
	color: #424242;
	margin-top: 18px;
}

#KellyI1 {
	margin-left: 20px;
	margin-top: 15px;
}

#KellyI2 {
	margin-left: 349px;
	margin-top: -168px;
}

#KellyT {
	font-weight: bold;
	font-size: 20px;
	color: #424242;
	margin-left: 255px;
	margin-top: 10px;
}

.carousel{position: fixed; top: 0; left: 0;right: 0;bottom: 0; z-index:10;width: 100%;}
.carousel .item {-webkit-transition: opacity 2s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width: 100%;}
